body {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    color: #000;
    background-color: #fff;
    width: 1511px;
}
ul {
    list-style: none;
    margin: 0;
}
hr {
    margin: 0;
    width: 1170px;
    color: #BABBC5;
}
h3 {
    margin: 41px 0 20px;
    font-weight: 900;
    color: #000;
    font-size: 24px;
    line-height: 72px;
    text-transform: uppercase;
}
.container {
    width: 1170px;
    position: relative;
    margin: 0 auto;
}
.header {
    position: relative;
    height: 747px;
    background-image: url(../image/desk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-background {
    background-color: rgba(37 43 73 /.8);
    height: 747px;
}
.nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    .logo {
        margin: 36px 0 33px;
    }
    .nav__menu {
        display: flex;
         span {
            border-bottom: 3px solid #BABBC5;
            padding-bottom: 40px;
            padding: 41px 34px 42px;
        }
        span:hover {
            color: #BABBC5;
        }
        span:active {
            color: #E71414;
            border-bottom: 3px solid #E71414;
        }
         li a {
            display: block;
            width: 134px;
            line-height: 96px;
            color: #fff;
            font-weight: 700;
            font-size: 13px;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
        }
        li a:hover {
            color: #BABBC5;
        }
        li a:active {
            color: #E71414;
        }
    }
}
.header-main {
    text-align: center;
    color: #fff;
    padding: 130px 0 118px;
    .main {
        width: 1170px;
        font-weight: 900;
        font-size: 64px;
        margin: 0 auto;
        text-transform: uppercase;
    }
}
.main-subtitle {
    width: 1028px;
    font-size: 24px;
    margin: 31px auto 82px;
}
button {
    width: 370px;
    height: 78px;
    padding: 0;
    background-color:#FF4343;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 24px;
    border: none;
}
button:hover {
    background-color: #E71414;
}
button:active {
        background-color: #FF4343;
        box-shadow: 4px 4px 30px #FF4343;
    }
.offers {
    padding: 116px 0;
}
.row {
    display: flex;
    margin: 0 0 18px;
    flex-wrap: wrap;
    text-align: center;
    gap: 100px 28px;
    .description {
        width: 370px;
        color: #6C7279;
        font-size: 18px;
        margin: 0;
    }
}
.design {
    margin-top: 28px;
}
.code {
    margin-top: 46px;
}
.free {
    margin-top: 58px;
}
.photos {
    width: 1512px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    img {
        width: 378px;
        height: 340px;
    }
}
.table {
    background: url(/image/table.jpg);
}
.table:hover {
    background: url(/image/project-name.png);
    transition: .3s;
}
.table:active {     
    background-image: url(/image/project.png);
    transition: .3s;
    }
.sofa {
    background: url(/image/sofa.jpg);
}
.sofa:hover {
    background: url(/image/project-name.png);
    transition: .3s;
}
.sofa:active {     
    background-image: url(/image/project.png);
    transition: .3s;
    }
.wall {
    background: url(/image/wall.png);
}
.wall:hover {
    background: url(/image/project-name.png);
    transition: .3s;
}
.wall:active {     
    background-image: url(/image/project.png);
    transition: .3s;
    }
.stools {
    background: url(/image/stools.jpg);
}
.stools:hover {
    background: url(/image/project-name.png);
    transition: .3s;
}
.stools:active {     
    background-image: url(/image/project.png);
    transition: .3s;
    }
.armchair {
    background: url(/image/armchair.jpg);
}
.armchair:hover {
    background: url(/image/project-name.png);
    transition: .3s;
}
.armchair:active {     
    background-image: url(/image/project.png);
    transition: .3s;
    }
.kitchen {
    background: url(/image/kitchen.jpg);
}
.kitchen:hover {
    background: url(/image/project-name.png);
    transition: .3s;
}
.kitchen:active {     
    background-image: url(/image/project.png);
    transition: .3s;
    }
.bedroom {
    background: url(/image/bedroom.jpg);
}
.bedroom:hover {
    background: url(/image/project-name.png);
    transition: .3s;
}
.bedroom:active {     
    background-image: url(/image/project.png);
    transition: .3s;
    }
.lounge {
    background: url(/image/lounge.jpg);
}
.lounge:hover {
    background: url(/image/project-name.png);
    transition: .3s;
}
.lounge:active {     
    background-image: url(/image/project.png);
    transition: .3s;
    }
.staff {
    margin: 115px auto;
    .people {
        display: flex;
        gap: 30px;
    }
    .name {
        font-size: 24px;
        font-weight: 700;
        margin: 30px 0 5px;
        padding: 0;
    }
    .person {
        width: 270px;
    }
    .about-them ,.description {
        width: 270px;
        font-size: 18px;
        margin: 0;
        padding: 0;
        color: #6C7279;
    }
    .profession {
        width: 270px;
        color: #FF4343;
        font-size: 18px;
        text-transform: uppercase;
        margin:0 0 18px;
    }
    .icons {
        margin: 38px 0 0;
        display: flex;
        justify-content: center;
        gap: 27px;
        a {
            width: 37px;
            height: 37px;
            border: 1px solid #C6CBCD;
            img {
                padding-top: 11px;
                padding-left: 11px;
            }
            .f {
                padding-top: 9px;
                padding-left: 13px;
            }
        }
    }
}
.circles {
    margin: 31px auto 0;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.download {
    margin: 114px auto 114px;
    text-align: center;
    .download-title {
        font-weight: 500;
        font-size: 30px;
        margin: 0 auto;
        line-height: 70px;
    }
}
.start {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px auto 50px;
    padding: 0;
}
.data {
    background-color: #353C65;
    color: #fff;
}
.info {
    display: flex;
    padding: 70px 0 110px;
    gap: 30px;
    .info-title {
        font-weight: 700;
        font-size: 18px;
        margin: 0;
        text-transform: uppercase;
    }
}
.logos {
    margin: 38px 0 0;
    display: flex;
    justify-content: center;
    gap: 27px;
    a {
        width: 37px;
        height: 37px;
        border: 1px solid #C6CBCD;
        img {
            padding-top: 11px;
        }
    }
}
.location {
    width: 370px;
    text-align: center;
    .address {
        width: 370px;
        font-size: 18px;
        margin: 29px 0 0;
        padding: 0;
    }
}
.sotial {
    width: 370px;
    text-align: center;
}
.about {
    width: 370px;
    text-align: center;
    p {
        width: 370px;
        font-size: 18px;
        margin: 29px auto 0;
    }
}
.footer {
    background-color: #2C3154;
    color: #808080;
        .copyright {
            padding: 24px 0 24px;
            width: 370px;
            font-size: 18px;
            margin: 0 auto;
            text-align: center;
        }
        .copyright-subtitle {
            margin: 0;
        }
    span {
        color: #fff;
    }
}